<div class="film-list">
  <ul class="film-list__list">
    <li class="film-list__item" *ngFor="let filmItem of (filmState | async).films">
      <a [routerLink]="['/film', filmItem.imdbID]">
        <div class="film-list__img">
          <img src={{filmItem.Poster}} alt="" >
        </div>
        <span class="film-list__title">
            {{filmItem.Title}}
      </span>
        <span class="film-list__date">{{filmItem.Year}}, {{filmItem.Type}}</span>
      </a>
      <button nz-button nzType="primary" (click)="onAdd(filmItem)">добавить в избранное</button>
    </li>
  </ul>
</div>
