
    <nz-list
      class="demo-loadmore-list"
      [nzDataSource]="(filmState | async).favoriteFilms"
      [nzItemLayout]="'horizontal'"
      [nzLoading]="initLoading"
      [nzRenderItem]="item"
      [nzLoadMore]="loadMore"
    >
      <ng-template #item let-item>
        <nz-list-item

          [nzContent]="item ? '' : 'content'"
          [nzActions]="isOk ? [] : [editAction, moreAction]"
        >
          <nz-skeleton [nzAvatar]="true" [nzActive]="true" [nzTitle]="false" [nzLoading]="false">
            <ng-template #editAction><a (click)="onDelete(item)">удалить</a></ng-template>
            <ng-template #moreAction><a (click)="onDelete(item)">повысить</a></ng-template>
            <nz-list-item-meta
              [nzTitle]="nzTitle"
              [nzAvatar]="item.Poster"
              [nzDescription]="item.Year"
            >
              <ng-template #nzTitle>
                <a [routerLink]="['/film', item.imdbID]">{{ item.Title }}</a>
              </ng-template>
            </nz-list-item-meta>
          </nz-skeleton>
        </nz-list-item>
      </ng-template>
      <ng-template #loadMore>
        <div class="loadmore">
          <button nz-button *ngIf="!loadingMore" (click)="onLoadMore()">загрузить еще</button>
        </div>
      </ng-template>
    </nz-list>
