<div class="film-item">
  <div class="film-item__wrapper-description">
    <div class="film-item__img">
      <img [src]="film.Poster" alt="">
    </div>
    <button nz-button nzType="primary" (click)="onAdd(film)">добавить в избранное</button>
    <div class="film-item__description">
      <h3 class="film-item__title">{{film.Title}}</h3>
      <ul>
        <li>
          <span>Год</span>{{film.Year}}
        </li>
        <li>
          <span>Страна</span>{{film.Country}}
        </li>
        <li>
          <span>Студия</span>{{film.Production}}
        </li>
        <li>
          <span>Время</span>{{film.Metascore}}
        </li>
        <li>
          <span>Жанр</span>{{film.Genre}}
        </li>
        <li>
          <span>Продюсер</span>{{film.Director}}
        </li>
        <li>
          <span>Сценарий</span>{{film.Writer}}
        </li>
        <li>
          <span>Язык</span>{{film.Language}}
        </li>
        <li>
          <span>Награды</span>{{film.Awards}}
        </li>
      </ul>
    </div>
    <div class="film-item__actors">
      <span>В ролях</span>
      <ul class="film-item__actor-list">
        <li class="film-item__actor-item">{{film.Actors}}</li>
      </ul>
    </div>
  </div>
  <div>
    <p>{{film.Plot}}</p>
  </div>
</div>
