
    <div class="example-input">
      <nz-input-group nzSize="large" [nzSuffix]="suffixIcon">
        <input
          placeholder="input here"
          nz-input
          [(ngModel)]="inputValue"
          (ngModelChange)="onChange($event)"
          [nzAutocomplete]="auto"
        />
      </nz-input-group>
      <ng-template #suffixIcon>
        <i nz-icon nzType="search"></i>
      </ng-template>
      <nz-autocomplete #auto [nzBackfill]="true">
        <nz-auto-option *ngFor="let filmTitle of searchData" [nzLabel]="filmTitle" [nzValue]="filmTitle">
          <a class="more-link" [routerLink]="['/film', filmTitle]">{{ filmTitle }}</a>
        </nz-auto-option>
      </nz-autocomplete>
    </div>
